extends ../scaffold/index.jade

block content
  .row
    .col-lg-12
      h1.page-header {{_('新增Entity')}}
      include ../partial/breadcrumbs
      .container-fluid
        +form("{{route('backend.DummyEntityLowerCaseFIXME.store')}}")
          +input('name', 'Entity名稱')
          +textarea('description', '敘述')
          +number('quantity', '數量')
          +file('main_image', '主圖')
          | <?php $options = ['option 1', 'option 2'];?>
          +checkbox('options', '多選選項', "$options")
          | <?php $yn = [1 => '是', 0 => '否'];?>
          +radio('on', '是否上架', "$yn")

include ../partial/mixin_create
