extends ../scaffold/index
include ../partial/mixins

block main
  .container-fluid
    h1.page-header {{_('修改DummyEntity')}}
    include ../partial/breadcrumbs
    +form("{{route('backend.DummyEntityLowerCase.update', d('main.entity')->id)}}", 'PUT')
      +input('name', 'DummyEntity名稱')
      +textarea('description', '敘述')
      +number('quantity', '數量')
      +file('main_image', '主圖')
      .row: .col-md-10.col-md-offset-2: img.img-responsive(src!="{{carrier()->image_path(d('main.entity')->main_image)}}" style='max-height:150px;margin-bottom:10px')
      +datetime('time', '時間')
      | <?php $types = ['類型一', '類型二'];?>
      | <?php $selected = 1;?>
      +select('type', '類型', "$types", "$selected")
      | <?php $options = ['option 1', 'option 2'];?>
      | <?php $checked = [0, 1];?>
      +checkbox('options', '多選選項', "$options", "$checked")
      | <?php $yn = [1 => '是', 0 => '否'];?>
      | <?php $on = 1;?>
      +radio('on', '是否上架', "$yn", "$on")

block javascript
  +datetimepicker
